@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*, ::before, ::after {
  box-sizing: inherit;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 1.3125rem;
  font-family: "IBM Plex Sans", sans-serif;
  text-size-adjust: 100%;
  line-height: 1.666;
  color: rgb(60, 60, 59);
  transition: color 200ms ease 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: rgb(60, 60, 59);
  text-decoration: none;
  padding: 2px 0px 1px;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px),  calc(50% - 9px), rgba(0, 255, 0, 0.4) 100%);
  transition: background-position 120ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0px 0px;
  word-break: break-word;
}

a:hover{
  background-image: linear-gradient(transparent 0%, transparent 1px, rgba(0, 255, 0, 1) 1px, rgba(0, 255, 0, 1) 100%);
  background-position: -9px -9px;
}

.main{
  flex: 1 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
}

.container{
  max-width: 1200px;
  display: grid;
  margin: 3.5rem auto;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1.6rem 25px;
}


.container > *{
  grid-column: 2 / -2;
}

h1{
  font-weight: 600;
  font-size: 2.5rem;
}

h2, h3 {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.4;
}

p{
  font-size: 1rem;
}

.mainTitle{
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.post-detail{
  display: grid;
  gap: 20px;
  grid-column: 1 / -1 !important;
  grid-template-columns: auto 1fr;
  text-align: center;
  color: rgb(60, 60, 59);
  transition: color 200ms ease 0s;
}

.image-container{
  grid-column: 1 / -1;
}

.image-container > img{
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease 0s;
}

.image-container > img:hover{
  transform: scale(1.05);
}

.profile{
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  align-content: start;
  place-items: start;
  -webkit-box-align: start;
}

.grid-1{
  grid-template-columns: 50px 1fr;
  grid-row: span 5 / auto;
  grid-column: 1 / span 1 !important;
  font-size: 1rem;
}

.grid-2{
  grid-template-columns: 1fr;
  grid-row: span 5 / auto;
  grid-column: 1 / span 1 !important;
}


.profile-social > a > img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

pre{
  display: inline;
  font-family: monospace;
  background-color: rgb(238, 238, 238);
  padding: 3px;
  white-space: pre-wrap;
  line-height: 1.6;
  font-size: 1rem;
}

.paragraph{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-wrap: break-word;
  height: fit-content;
}

.bar-reaction{
  position: relative;
  grid-column: 3 / auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.bar{
  background: rgba(0, 0, 0, 0.1);
  width: 10px;
  height: 6px;
}

.code-container{
  grid-column: 1 / -1 !important;
}

blockquote{
  grid-column: 1 / -1 !important;
  font-size: 1.6rem;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}


.youtube-container{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.p-detail-1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-box-align: center;
}

.p-detail-1 > a{
  background-image: none;
  font-size: 1.125rem;
}

.profile > a{
  background-image: none;
}
.profile-social > a{
  background-image: none;
}


.read-time{
  font-size: 1.125rem;
  background: rgb(246, 247, 249);
  color: rgb(60, 60, 59);
  padding: 4px 10px;
  margin: 0px 10px;
}

.btn-bookmark{
  padding-top: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: rgb(60, 60, 59);
}

.p-detail-2{
  grid-column: 3 / auto;
  display: flex;
}

.detail-title{
  font-weight: 700;
  margin-right: 7px;
}

.emoji {
  cursor: pointer;
  margin-left: 7px;
  opacity: 0.5;
  transform: scale(1);
  transition: all 120ms ease-in-out 0s;
  filter: grayscale(1);
}

.emoji:hover{
  filter: grayscale(0);
  opacity: 1;
}

.detail-emoji > .emoji{
  height: 30px;
}

.detail-emoji-small > .emoji{
  margin-left: 8px;
  height: 24px;
}


.paragraph + .bar-reaction > .hidden{
  opacity: 0;
  transition: all 300ms ease-in-out 250ms;
}

.paragraph:hover + .bar-reaction > .hidden{
  opacity: 1;
}

.bar:hover + .hidden{
  opacity: 1 !important;
}  

.hidden:hover {
  opacity: 1 !important;
}

.footer-reactions{
  grid-column: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: 30px 0;
}

.section{
  margin-bottom: 50px;
}

.grid-column-1{
  grid-column: 1 / -1;
}

.grid-column-2{
  grid-column: 2 / -2;
}

.section > .title{
  display: flex;
  text-align: center;
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
}

.divider::before{
  margin-right: 0.5em;
  content: "";
  flex: 1 1 0%;
  border-bottom: 2px solid rgb(194, 202, 214);
}

.divider::after{
  margin-left: 0.5em;
  content: "";
  flex: 1 1 0%;
  border-bottom: 2px solid rgb(194, 202, 214);
}

.related-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.related-title{
  font-size: 1.3125rem;
  align-self: flex-end;
  margin: 0px;
  padding: 10px;
}

.related-card{
  display: grid;
  grid-template-rows: minmax(80px, auto) 1fr auto;
  border: 2px solid rgb(246, 247, 249);
  gap: 0;
}

.related-reactions{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  margin: 0;
}
.related-reactions > span{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8rem;
  background: rgb(246, 247, 249);
  padding: 5px 0px;
}

.related-img{
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
}

.related-img > a{
  background-image: none;
}

.related-img > a > img{
  margin-top: -2px;
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-width: 100%;
} 

.related-tag{
  position: absolute;
  margin: 0px;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

.related-details{
  padding: 15px 10px 0px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.grid-1 > a{
  background-image: none;
}

.shadow{
  box-shadow: rgb(194 202 214) 0px 0.2em, rgb(194 202 214) 0px -0.2em, rgb(194 202 214) 0.2em 0px, rgb(194 202 214) -0.2em 0px;
}

.time >p{
  text-align: right;
  margin-top: -10px;
  font-size: 0.9rem;
  line-height: 1rem;
}

.tag{
  display: flex;
  align-items: center;
  width: auto;
  padding: 10px;
  margin: 0px 10px 10px 0px;
  -webkit-box-align: center;
  font-family: "IBM Plex Mono", monospace;
  background: rgb(246, 247, 249);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1em;
  transition: all 120ms ease-in-out 0s;
}

.tag:hover{
  background: rgb(0, 255, 0);
  box-shadow: rgba(0, 255, 0, 0.5) 0px 0.2em, rgba(0, 255, 0, 0.5) 0px -0.2em, rgba(0, 255, 0, 0.5) 0.2em 0px, rgba(0, 255, 0, 0.5) -0.2em 0px;
}

.tags{
  grid-column: 2 / -2 !important;
}

.tags-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-pack: center;
}



